/*
NVIDIA Infra Controller REST API

NVIDIA Infra Controller REST API allows users to create and manage resources, e.g., VPCs, Subnets, and Instances, across all connected NVIDIA Infra Controller datacenters, also referred to as Sites.

API version: 1.6.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package standard

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// BMCCredentialAPIService BMCCredentialAPI service
type BMCCredentialAPIService service

type ApiSetBmcCredentialRequest struct {
	ctx                  context.Context
	ApiService           *BMCCredentialAPIService
	siteId               *string
	org                  string
	bMCCredentialRequest *BMCCredentialRequest
}

// ID of the Site
func (r ApiSetBmcCredentialRequest) SiteId(siteId string) ApiSetBmcCredentialRequest {
	r.siteId = &siteId
	return r
}

func (r ApiSetBmcCredentialRequest) BMCCredentialRequest(bMCCredentialRequest BMCCredentialRequest) ApiSetBmcCredentialRequest {
	r.bMCCredentialRequest = &bMCCredentialRequest
	return r
}

func (r ApiSetBmcCredentialRequest) Execute() (*http.Response, error) {
	return r.ApiService.SetBmcCredentialExecute(r)
}

/*
SetBmcCredential Set a BMC credential (Provider Admin)

Store a site-wide or per-BMC root credential, proxied to NICo Core
CreateCredential through the generic site gRPC proxy. Equivalent to
`carbide-admin-cli credential add-bmc`.

User must have authorization role with `PROVIDER_ADMIN` suffix.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param org Name of the Org
	@return ApiSetBmcCredentialRequest
*/
func (a *BMCCredentialAPIService) SetBmcCredential(ctx context.Context, org string) ApiSetBmcCredentialRequest {
	return ApiSetBmcCredentialRequest{
		ApiService: a,
		ctx:        ctx,
		org:        org,
	}
}

// Execute executes the request
func (a *BMCCredentialAPIService) SetBmcCredentialExecute(r ApiSetBmcCredentialRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BMCCredentialAPIService.SetBmcCredential")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/org/{org}/nico/credential/bmc"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterValueToString(r.org, "org")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.siteId == nil {
		return nil, reportError("siteId is required and must be specified")
	}
	if r.bMCCredentialRequest == nil {
		return nil, reportError("bMCCredentialRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bMCCredentialRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v NICoAPIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
